<article>
  <aside>
    <h3>Empresa</h3>
    <p>Desde 1989, tendo como objetivo garantir a segurança das instalações, aumentar a competitividade e contribuir com o sucesso de seus clientes.</p>
    <a href="javascript://" title="Saiba Mais" class="know-more">Saiba Mais</a>
  </aside>
  <footer>
    <h4>Compromisso e Profissionalismo</h4>

    <aside>
      <h5>Contato</h5>
      <p>Tel. {{site.data.contact_info.tel}}</p>
      <p>{{site.data.contact_info.email}}</p>
    </aside>
  </footer>
  <figure>
    <img src="/assets/images/banners/01.jpg" alt="Empresa">
  </figure>
</article>