<header class='main'>
  {% include header/contact_box.html %}

  <section class='content'>
    <a href="javascript://" class='contact' title="Contato">
      <i class="fa fa-phone"></i>
      Contato</a>
    <figure class='current-logo'>
      <a href="/">
        <img src="/assets/images/logo-tecnopaineis.svg" alt="Tecnopainéis">
      </a>
    </figure>
    
    <figure>
      <img src="/assets/images/logo-jsg-gsa-paineis.svg" alt="JSG GSA PAINEIS">
    </figure>
    
    <aside>
      <ul>
        <section>
          <li>
            <a href="/sobre-nos">Sobre Nós</a>
          </li>
          <li>
            <a href="javascript://">Serviços</a>
          </li>  
        </section>
        <section>
          <li>
            <a href="{{site.cases.first.url}}">Cases</a>
          </li>
          <li>
            <a href="javascript://">Clientes</a>
          </li>  
        </section>
        <section>
          <li>
            <a href="/parceiros">Parceiros</a>
          </li>  
        </section>
      </ul>
    </aside>
  </section>
</header>
