---
---

/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 600; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

ul, li{ list-style: none}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

// LAYOUT
@import "layout/header";
@import "layout/contact_box";

