.inner-page{
  @include container;
  margin-top: 40px;

  h2{
    @include grid(20);
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    font-weight: 300;
  }

  aside{
    @include grid(6);
  }
}