<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      <div id='page'>
        <div id='content'>
          {% include header.html %}
          
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ "/assets/javascripts/jquery.cycle2.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ "/assets/javascripts/grid.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ "/assets/javascripts/application.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>