<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ "/assets/javascripts/grid.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ "/assets/javascripts/application.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>